{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_pw_input, render_submit %}

{% block subcaption %}
{% endblock subcaption %}

{% block caption %}
    Passwort festlegen
{% endblock caption %}


{% block body %}
    <div class="row">
        <form class="ui form" method="post">
            {{ csrf_field() }}
            <input type="hidden" name="reset_token" value="{{ form.reset_token.data }}" data-storage="false"/>
            {{ render_pw_input(form.password, type='password', id='psw-input') }}
            <div class="row">
                <div id="pswmeter"></div>
                <div id="pswmeter-message"></div>
            </div>
            {{ render_pw_input(form.confirm_pw, type='password') }}
            {{ render_submit(submit='Passwort festlegen', allow_reset=False) }}
        </form>
    </div>
{% endblock body %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            if (typeof passwordStrengthMeter !== "function") {
                console.error("passwordStrengthMeter is not defined.");
            } else {
                const myPassMeter = passwordStrengthMeter({
                    containerElement: '#pswmeter',
                    passwordInput: '#psw-input',
                    showMessage: true,
                    messageContainer: '#pswmeter-message',
                    messagesList: [
                        'Passwort bitte eingeben',
                        'Schwach',
                        'Mittel',
                        'Stark',
                        'Sehr stark'
                    ],
                    height: 4,
                    borderRadius: 2,
                    pswMinLength: {{ form.get_pw_length() }},
                });
                console.log("Password meter initialized successfully.");

                // Get password input field
                const passwordInput = document.querySelector('#psw-input');

                // Trigger the strength meter if the field already has a value
                if (passwordInput.value) {
                    setTimeout(() => {
                        myPassMeter.updatePassword(passwordInput.value);  // Manually trigger strength check
                    }, 100); // Delay to ensure initialization completes
                }
            }
        });
    </script>
{% endblock %}
