{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import td_sorted, csrf_field, render_option, render_submit %}

{% block caption %}
    Noten-Export für Campus Portal
{% endblock caption %}


{% block internal_body %}
    <div class="row">
        <form method="post" class="ui form">
            {{ csrf_field() }}
            <h3 class="ui dividing header">Auswahl</h3>
            {{ render_option(form.courses, required=True, help='Kurslevel für Export auswählen') }}


            {{ render_submit(submit='Export-Link Generieren') }}

        </form>
    </div>
    {% if link|length > 0 %}
        <div class="row">
            <h3 class="ui dividing header">Export-Link</h3>
            <p>Der Export-Link für das Campus Portal wurde generiert. Dieser Link kann in das Campus Portal eingefügt
                werden, um die Noten der Kurse mit dem gewählten Level zu importieren.</p>
            <div id="notification">Link wurde in die Zwischenablage kopiert.</div>
            <div>
                <input type="hidden" value="{{ link }}" id="hiddenText">
                <div class="ui button" onclick="copyToClipboard()">Link Kopieren</div>
            </div>
            <div class="ui message">
                <div class="header">Export-Link</div>
                <p>{{ link }}</p>
            </div>
        </div>
    {% endif %}
{% endblock internal_body %}

{% block scripts %}
    {{ super() }}
    <script>
        // Ensure DOM is fully loaded before executing jQuery
        $(document).ready(function () {
            $('.eye-icon').click(function () {
                var input = $(this).siblings('input');
                var icon = $(this);
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    icon.removeClass('eye').addClass('eye slash');
                } else {
                    input.attr('type', 'password');
                    icon.removeClass('eye slash').addClass('eye');
                }
            });
        });

        // Copies text of the hiddenText input field to the clipboard
        function copyToClipboard() {
            var copyText = document.getElementById("hiddenText").value;
            navigator.clipboard.writeText(copyText).then(function () {
                showNotification('Link in Zwischenablage kopiert!');
            }, function (err) {
                console.error('Async: Link konnte nicht kopiert werden: ', err);
            });
        }

        // Notification of successful copy-to-clipboard process
        function showNotification(message) {
            var notification = document.getElementById('notification');
            notification.textContent = message;
            notification.style.display = 'block';
            setTimeout(function () {
                notification.style.display = 'none';
            }, 2250); // Show notification for 2.25 seconds
        }
    </script>
{% endblock scripts %}
